.color{
    background-color: bisque;
}
#bannerimage {
    width: 40%;
    height: 405px;
    margin-left: 30%;
    background-color: rgb(10, 10, 10);
    background-position: center;
  }
@import "bootstrap";