<p>products works!</p>

<div >
    <table >
        <thead>
            <th>ID  </th>
            <th> | Name</th>
            <th> | Quantity</th>
            <th> | Price</th>

        </thead>
        <tbody>
            <tr *ngFor="let products of ProductList">
                <td>{{products.ID}}</td>
                <td> | {{products.Name | lowercase}}</td>
                <td> | {{products.Quantity}}</td>
                <td> | {{products.Price}}</td>

    
            </tr>
        </tbody>
    </table>
</div>


<p> {{Store_name}} </p>

<img [src]="Store_Logo" alt="">

<br>

<div *ngIf="Discount == 'No_Discount';else discount">
     
</div>

<ng-template #discount> We offer an explicit discount of: {{Discount | percent}} </ng-template>


<br>
<br>
<br>
<br>


<select >
    <option *ngFor="let categorie of categories">
      {{categorie}}
    </option>
</select>



<br>
<br>
<br>
<br>

<h2>two way binding</h2>
Enter your name
<input type="text" [(ngModel)] = "ClientName2"/>

<br>
<br>
<br>
<br>
<br>

<div *ngIf="tableshow else Thanks">
    <table >
        <thead>
            <th>Name  </th>
            <th> | price</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td> | {{item.price}}</td>
                
    
            </tr>
        </tbody>
    </table>
</div>


<ng-template #Thanks> <h1> Thanks for purchasing from our Store : {{ClientName2}}</h1></ng-template>

<br>
<br>
<br>
<br>




<div>
    <button (click)="Show()"  >Buy</button>
{{tableshow}}
</div>